<nav class="navbar navbar-expand-lg navbar-light fixed-top py-4 mb-2" id="main-nav">
    <div class="container">
        <a href="#home" class="navbar-brand">
            <img src="/img/logo.png" width="50" height="50" alt="">
            <h3 class="d-inline align-middle">Fuelbid</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a href="/quotes/" class="nav-link"><i class="fas fa-plane"></i>New Flight</a>
                </li>
                <li class="nav-item">
                    <a href="#schedule" class="nav-link"><i class="fas fa-plane"></i>Schedule</a>
                </li>
                <li class="nav-item">
                    <a href="#view_quote" class="nav-link"><i class="fas fa-dollar-sign"></i>View Quotes</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#"><i
                            class="fas fa-cog"></i>Settings</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a class="dropdown-item" href="/settings/providers"><i class="fas fa-pencil-alt"></i>Provider</a>
                        <a class="dropdown-item" href="/settings/acft"><i class="fas fa-pencil-alt"></i>Aircraft</a>
                        <a class="dropdown-item" href="/settings/pilot"><i class="fas fa-pencil-alt"></i>Pilot</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>