<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/style.css">

    <title>Fuelbid</title>
</head>

<body>
    {{{body}}}
    <script type="application/json" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>