doctype html
html
    head
        title Fuel Quote
        script(src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous")
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2018