<div class="row">
  {{#each acft}}
  <div class="card card-body mb-2 col-2 mx-auto">
    <h5 align="center">{{tail}}</h5>
    <p align="center">{{type}}</p>
  </div>
  {{else}}
  <p>No Aircrafts</p>
  {{/each}}
</div>