<div class="card card-body col-3 mx-auto">
  <h4>Add Provider</h4>
  <form action="/settings/provider" method="post">
    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" name="company" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="representative">Representative</label>
      <input type="text" name="representative" class="form-control" required>
    </div>
        <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
        <div class="form-group">
      <label for="email2">Email2</label>
      <input type="email" name="email2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add</button>
  </form>
</div>